venv/
__pycache__/
.idea/
.DS_Store
.ipynb_checkpoints/

**test*.py
testing/test_images/
data/Agriculture-Vision.tar.gz
data/Agriculture-Vision/
data/Dataset/
data/DatasetV2
data/models/
images/
logs/
preprocessing/convert.py
cc/*.cbp
cc/cc
**/*.cmake
cc/CMakeCache.txt
cc/CMakeFiles
cc/cmake-build-debug
cc/Makefile